*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
}

body{
    padding: 50px;
    height: 100%;
}

main{
    padding: 50px;
    background-color: #e0dcd8;
    min-height: 770px;
    
}


#footer {
    position: relative;
    left:0;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: grey;
    text-align: center;
}

.name-logo{
    display: flex;
}

.name{
    padding-left: 20px;
}

nav{
    display: flex;
    width: 100%;
    /* Height of the footer*/ 
    height: 50px;
    background: grey;
}

.map{
    text-align: center;
}

.error{
    color: red;
    font-size: 14px;
}

a{
    color:black;
}

.container {
    width:850px;
    height:210px;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
}
#st-box {
    float:left;
    width:200px;
    height:180px;
    background-color:white;
    border:solid black;
}
#nd-box {
    float:left;
    width:200px;
    height:180px;
    background-color:white; 
    border:solid black;
    margin-left:120px;
}
#rd-box {
    float:right;
    width:200px;
    height:180px;
    background-color:white;
    border:solid black;
    margin-left:70px;
}

.property-list-info{
    font-size: 14px;
}

#search{
    float:right;
    margin-left:1150px;
    justify-content: center;
}

#profile{
    float:right;
    margin-left:30px;
}

.logout-btn{
    text-decoration: solid;
    border: solid 3px;
    border-radius: 20px;
    border-color: red;
    cursor: pointer;
}

.logout-btn:hover{
    background-color: red;
    transform: scale(1.3);
}

.submitbutton-form{
    text-decoration: solid;
    border: solid 3px;
    border-radius: 20px;
    border-color: green;
    cursor: pointer;
}

.submitbutton-form:hover{
    background-color: green;
    color: white;
    transform: scale(1.3);
}

.hidden {
    display: none !important;
}

.remove-btn{
    text-decoration: solid;
    border: solid 3px;
    border-radius: 20px;
    border-color: red;
    cursor: pointer;
}

.remove-btn:hover{
    background-color: red;
    transform: scale(1.3);
}

.sold-btn{
    text-decoration: solid;
    border: solid 3px;
    border-radius: 20px;
    border-color: green;
    cursor: pointer;
}

.sold-btn:hover{
    background-color: green;
    color: white;
    transform: scale(1.3);
}

.addtofav{
    border-radius: 20px;
    background-color: green;
}

.removefromfav{
    border-radius: 20px;
    background-color: red;
}