*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    padding: 50px;
    height: 100%;
}

main{
    padding: 50px;
    background-color: #e0dcd8;
    
}


#footer {
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: grey;
    text-align: center;
}

.name-logo{
    display: flex;
}

.name{
    padding-left: 20px;
}

.nav-left{
    float: left;
}

.nav-right{
    float: right;
}

nav{
    display: flex;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: grey;
}

.map{
    text-align: center;
}

.error{
    color: red;
}

.hidden {
    display: none !important;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }