<section>
    
  <h1>{{title}}</h1>
  {{#each properties}}  
    <article class="properties">
      <p>{{properties.homeType}}</p>
      {{!-- <h2><a href="/properties/{{_id}}">{{properties}}</a></h2> --}}
    </article>
  {{/each}}
</section>