<a href="/">Home</a>
<br><br>
<h1>Login</h1>
<br>
<form method= "POST" action="" id="login-form">
    <label>Username :
        <input type="text" id="username" placeholder="Enter your username"/> 
    </label>
    <label>Password :
        <input type="password" id="passsword" placeholder="Enter your password"/> 
    </label>
    <br><br>
   Don't have an account yet? <a href="signup">Sign up</a>
   <br><br>
    <input type="submit" id="submit" value="Submit">       
</form>