<a href="/">&#8592; Home</a>
<br><br>
<h1>Login</h1>
<br>
<form method= "POST" action="/users/login" id="login-form">
    <label>Username :
        <input type="text" name="username" id="username" placeholder="Enter your username"/> 
    </label>
    <label>Password :
        <input type="password" name="password" id="password" placeholder="Enter your password"/> 
    </label>
    <br><br>
   Don't have an account yet? <a href="signup">Sign up</a>
   <br><br>
      {{#each errors}}
        <div class = "error">{{this}}</div>
      {{/each}}
   <br><br>
   <center>
       <input type="submit" class="submitbutton-form" value="Submit"> 
   </center>
          
</form>